# API Configuration
VITE_API_URL=http://localhost:8000/api
VITE_SOCKET_URL=http://localhost:8000

# App Settings
VITE_APP_TITLE=GPS Tracking
VITE_APP_VERSION=1.0.0

# Map Configuration (Xorazm/Urgench)
VITE_MAP_DEFAULT_LAT=41.5500
VITE_MAP_DEFAULT_LNG=60.6167
VITE_MAP_DEFAULT_ZOOM=12
